<div class="page-header">
  <h1>Coming up in the world of Code</h1>
</div>

<div>

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Search Events</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Events - Staff Picks</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Popular Links</a></li>
    <% if @current_user %> 
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Cohorts</a></li>
    <% end %>
  </ul>

  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="home">
      <%= render '/partials/meetupSearch' %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="profile">
      <%= render '/partials/staffPicks' %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="messages">
      <%= render '/partials/links' %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="settings">
      <%= render '/cohorts/index' %>
    </div>
  </div>

</div>

