<div class="page-header">
  <h1>Coming up in the world of Code</h1>
</div>

<% @data['results'].each do |d| %>
  <h2><a href="<%= d['event_url'] %>"><%= d['group']['name'] %></a></h1>
  <div class="well">
    <p><%= sanitize(d['description']) %></p>
  </div>
<% end %>
