<%= form_for Cohort.new, remote: true do |f| %>
  <span class="cohort-form">
  <%= f.text_field :cohort, placeholder: "Add a cohort", id: "cohort-form" %>
  </span>
  <%= f.submit id: "cohort-submit", class: "btn btn-default pull-right" %>
<% end %>