<div class="page-header">
  <h1>Cohorts</h1>
</div>


  <% @cohorts.each do |e| %>
    <div>
      <h4><%= e.cohort %></h4>
      <% @students.each do |s| %>
        <% if s.cohort_id == e.id %>
          <p><%= s.name %></p>
        <% end %> 
      <% end %>
    </div>
  <% end %>