<h1>Administrator Management Page</h1>
<nav>
  <button><%= link_to('Networking Events', root_path) %></button>
  <button><%= link_to('Create User', new_user_path) %></button>
</nav>
<ul>
  <% @users.order('name ASC').each do |user| %>
  <li><a href="students/<%=user.id%>"><%=user.name%></a></li>
  <% end %>
</ul>
