<h1>Fellow Cohorts and Students</h1>

<table class="table">
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.cohort %></td>
      </tr>
    <% end %>
  </tbody>
</table>