<form role="form" class="new_cohort" id="new_cohort" action="/cohorts" accept-charset="UTF-8" method="post">
  <input type="text" name="cohort[cohort]" id="cohort_cohort">
  <input type="submit">
</form>
