<h1>Links</h1>

<ul>
  <li><a href="https://github.com/">GitHub</a></li>
  <li><a href="https://trello.com/">Trello</a></li>
  <li><a href="https://slack.com/">Slack</a></li>
  <li><a href="https://garnet.wdidc.org/sign_in">Garnet</a></li>
  <li><a href="http://www.meetup.com/">Meet Up</a></li>
</ul>