<h1>Popular Links</h1>

<h4>Outcomes</h4>
<ul class="list-group">
  <li class="list-group-item"><a href="https://calendly.com/beth-miller">Beth Calendly</a></li>
  <li class="list-group-item"><a href="https://trello-attachments.s3.amazonaws.com/57179c9c2c05a97c4b22e2d2/5746245ff2075d9d622574ac/f9f12a66cc9f0dccbb545581fd451129/What_s_Next-Life_After_GA.pdf">What's Next- Life after GA (PDF)</a></li>
  <li class="list-group-item"><a href="https://trello-attachments.s3.amazonaws.com/57179c9c2c05a97c4b22e2d2/5746245ff2075d9d622574ac/e1ae905c1aef1cfba3ea0dc330614fd4/Resume%2C_Cover_Letter_%26_LinkedIn.pdf">Resume, Cover Letter, LinkedIn (PDF)</a></li>
  <li class="list-group-item"><a href="https://trello-attachments.s3.amazonaws.com/57179c9c2c05a97c4b22e2d2/5746245ff2075d9d622574ac/6355b62c3ee01fb1bd1de07cf9cb8a87/Professional_Brand_%26_Networking.pdf">Professional Brand & Networking (PDF)</a></li>
  <li class="list-group-item"><a href="https://trello-attachments.s3.amazonaws.com/57179c9c2c05a97c4b22e2d2/5746245ff2075d9d622574ac/b42fd4e4cd951299ee3db7818e75fb7a/Job_Search.pdf">Job Search (PDF)</a></li>
</ul>

<h4>Tools</h4>
<ul class="list-group">
  <li class="list-group-item"><a href="https://github.com/">GitHub</a></li>
  <li class="list-group-item"><a href="https://trello.com/">Trello</a></li>
  <li class="list-group-item"><a href="https://slack.com/">Slack</a></li>
  <li class="list-group-item"><a href="https://garnet.wdidc.org/sign_in">Garnet</a></li>
  <li class="list-group-item"><a href="http://www.meetup.com/">Meet Up</a></li>
</ul>