<h1>Staff Picks</h1>

<p>The outcomes staff recommends these networking events</p>

<ul>
  <li>This is the first pick</li>
  <li>This is the second pick</li>
  <li>OMG the third pick</li>
  <li>Yeah, number four</li>
  <li>Oh Yeah the fifth one</li>
</ul>