/*
*= require_tree .
*= require_self
*/
@import "bootstrap";

 .page-header, h1, h2 {
  text-align: center;
  padding-top: 20px;
 }

 .titleImage {
  width: 10px;
  height: 12px;
 }

 .list-group {
  float: right;
 }
