// Place all the styles related to the cohorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cohort {
  width: 28%;
  min-height: 300px;
  display: inline-block;
  margin: 5px 5px;
  padding: 5px 5px;
  border-right: 1px solid gray;
  
  @media (max-width: 600px) {
    width: 100%;
  }

  h4 {
    color: red;
    @min-width: 770px {
      display: inline-block;
    }
  }  
}
.deliverable { 
  width: 68%;
  display: inline-block;
  margin: 5px 5px;
  padding: 5px 5px;
  float: right;

  @media (max-width: 600px) {
    width: 100%;
  }
  .student a {
    font-size: 40px;
  }
  .due {
    color: red;
    font-size: 16px;
    min-width: 100px;
    text-align: center;
  }
  .assign {
    min-width: 200px;
  }
  .d-name {
    font-size: 14px;
  }
}

.hr {
  border: 2px solid gray;
}