// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  width: 100%;
  margin: 20px 0;

}

.flex-row {
  display: flex;
  flex-direction: row;
  
}

a {
  text-decoration:none;

  &:hover{
    color:white;
  }
}

.flash-box {
  position: relative;
}
.flash {
  font-size: 16px;
  color: #0095C8;
  font-weight: bold;
  position: absolute;
  margin-top: 60px;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid   #0095C8;
  border-radius: 2px;
  // background: rgba(255, 233, 0, 0.5);
  /* Fall-back for browsers that don't support rgba */
  // background: rgb(255, 233, 0);

}