// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row {
  width: 100%;
  margin: 20px 0;

}

.flex-row {
  display: flex;
  flex-direction: row;
  
}

a {
  text-decoration:none;

  &:hover{
    color:white;
  }
}