// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.students-profile {

// accordian stuff
  .ui-widget {
    display:none;
    width: 100%;
    margin: 0 0 10px 0;
  }
  .ui-widget-header{
    background-color:grey;

    &:hover{
      background-color:grey;
    }
  }
  .ui-state-active {
    color: red;
    border: none;
  }
  .ui-state-default{

  }
 .ui-accordion-icons{
  background-color:white;
  &:hover{
    background-color:white; 
  }
 }
  .ui-state-hover{
    color:blue;
    border:1px solid blue; 
  }
// accordion brand
  .accordion_brand h3{
    margin:0;
    font-size: 1em;
    font-weight: 200;
    &:hover{
      background-color:grey;
    }
  }
  .close_brand{
    display:none;
  }
  // accordion resume
  .accordion_resume h3{
    margin:0;
    font-size: 1em;
    font-weight: 200;
    &:hover{
      background-color:grey;
    }
  }
  .close_resume{
    display:none;
  }

// accordion portfolio
  .accordion_portfolio h3{
    margin:0;
    font-size: 1em;
    font-weight: 200;
    &:hover{
      background-color:grey;
    }
  }
  .close_portfolio{
    display:none;
  }
// accordion jobtracker
  .accordion_jobtracker h3{
    margin:0;
    font-size: 1em;
    font-weight: 200;
    &:hover{
      background-color:grey;
    }
  }
  .close_jobtracker{
    display:none;
  }
// accordion linkedin
  .accordion_linkedin h3{
    margin:0;
    font-size: 1em;
    font-weight: 200;
    &:hover{
      background-color:grey;
    }
  }
  .close_linkedin{
    display:none;
  }
// 
  div.comment_form_brand{
    display:none;
    width: 100%;
    margin: 0 auto;
    align-item: center;
  }

  form.new_review {
    width: 92%;
    margin: 0 auto;

  }
  p{
    margin: 0 0 0 20px;
  }

  form {
    width: 66%;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;

    textarea{
      margin:0;
      padding: 10px;
    }

    .show_on_edit {
      display: none;
    }

    a.hide_on_edit {
      &:hover{
        text-decoration:none;
      }

    }

    .submit-button{
      display:none;
      align-self: flex-end;
      border-radius: 4px;
      margin: 10px 20px 10px 10px;
    }
  }

  a.comment_brand {
    display:block;
    text-align: right;
    margin: 0 20px 0 0;
      &:hover{
        text-decoration:none;
      }
  }

  a.comment_resume {
    display:block;
    text-align: right;
    margin: 0 20px 0 0;
      &:hover{
        text-decoration:none;
      }
  }
  
  a.comment_portfolio {
    display:block;
    text-align: right;
    margin: 0 20px 0 0;
      &:hover{
        text-decoration:none;
      }
  }
  
  a.comment_linkedin {
    display:block;
    text-align: right;
    margin: 0 20px 0 0;
      &:hover{
        text-decoration:none;
      }
  }
  a.comment_jobtracker {
    display:block;
    text-align: right;
    margin: 0 20px 0 0;
      &:hover{
        text-decoration:none;
      }
  }


  .feild{
    height: 100px;
    width: 100%;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .send{
    align-self: flex-end;
    margin: 4px 0 0 auto;
    border-radius: 4px;
    display:inline-block;
  }

  .cancel{
      margin: 0px 0 auto 20px;
      position: relative;
      top: -20px;
  }
  

   .comment_form_resume{
    display:none;
  }

   .comment_form_portfolio{
    display:none;
  }

   .comment_form_linkedin{
    display:none;
  }

   .comment_form_jobtracker{
    display:none;
  }
}


h1{
  margin: 20px 0 20px 20px;
  font-size: 60px;
}

.profile{
  display: flex;
  flex-direction: column;
  width: 66%;
  justify-content:center;
  align-items: center;
  margin: 100px auto;
  background-color:silver;
}



.profile-header {
  width: 100%;
  margin:0 auto;
  display:flex;
  flex-direction: row;
  background-color: black;
  padding: 10px 10px;
  color: white;
}

.prof-head-col {
  padding: 0 20px 0 0;

  h2{
    margin:10px 0 6px 0;
    font-size: 2em;
  }
  span {
    display:block;
    margin:0;
    padding:0 0 0 0px;
  }

  a{
    &:hover{
      text-decoration:none;
    }
  }

  div.password{
    margin: 4px 0;
  }
}

.prof-head-col:last-child {
  margin: 0 0 0 auto;
  align-self: flex-end;

  button {
    margin: 0 -10px 0 auto;
    border-radius: 4px;
    }  
  }

.branding {
  width: 92%;
  height: 100px;
  margin: 10px auto 0 auto;
  border-radius: 4px;
  border: 1px solid grey;
  padding: 0;
  background-color:white;

  textarea{
    margin: 0;
    height: 100%;
    width: 100%;
    border:none;
    resize:none;
  }
}

.url-link {
  width: 92%;
  height: 20px;
  margin: 10px auto;
  display:block;
  padding: 2px 10px;
  border-radius: 4px;
  border: 1px solid grey;
  background-color:white;
    &:hover{
      color:red;
    }
}