// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// EVERYTHING ENCOMPASSED BY .STUDENT-PROFILE TO NOT MESS WITH OTHERS' SCSS //
.students-profile {

  // GENERAL STYLING //
  .row {
    width: 100%;
    margin: 0;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    min-height: 100px;
  }

  .row:first-child {
    border-bottom: none;
  }

  .profile-header {
    width: 100%;
    margin:80px auto 20px auto;
    display:flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 10px;
    color: black;
    border-bottom: 1px solid gray;
  }

  // PROF-HEAD-COL STYLES //
  .prof-head-col {
    padding: 0 20px 0 0;

    h1{
      margin:10px 0 6px 0;
      font-size: 3em;
      font-weight: 200;
    }
    span {
      display:block;
      margin:0 0 0 4px;
      padding:0 0 0 0px;
    }

    a{
      &:hover{
        text-decoration:none;
      }
    }

    div.password{
      margin: 4px 0;
    }
  }

  h2 {
    text-align: left;
    font-size: 1.4em;
    font-weight: 200;
  }

  a.hide_on_edit {
    font-weight: 400;
    margin: 0 0 0 40px;
    display:block;
    
  }
  .prof-head-col:last-child {
    margin: 0 0 0 auto;
    align-self: flex-end;

    button {
      margin: 0 -10px 0 auto;
      border-radius: 4px;
      }  
  }
  // END PROF-HEAD-COL STYLING //

  .branding {
  width: 92%;
  height: 100px;
  margin: 10px auto 0 auto;
  border-radius: 4px;
  padding: 0;
  background-color:white;

    textarea{
      margin: 0;
      height: 100%;
      width: 100%;
      border:none;
      resize:none;
    }
  }

  .url-link {
    width: 92%;
    height: 20px;
    margin: 10px 30px;
    display:block;
    padding: 2px 10px;
    border-radius: 4px;
    border: 1px solid grey;
    background-color:white;
  }
  // END GENERAL STYLING //

  // ACCORDIAN STUFF //
  // ALL ACCORDIANS //

  .ui-state-active {
    color: white;
    border: none;
    background-color:gray;
  }
  .ui-state-default {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    &:hover {
    }
  }

  .ui-state-hover{
    color:white;
     
  }
  // END ALL ACCORDIANS STYLES //
  // ACCORDIAN INDIVIDUALS //

  // branding statement //
  div.accordion_brand {
    display:none;
    div p {
      margin-bottom: 20px;
      min-height: 48px;
      padding: 4px 8px;

    }
    h3{
      margin:0;
      font-size: 1.2em;
      font-weight: 200;
      padding: 4px 8px 20px 8px;
      &:hover{
        background-color: grey;
      }
    }
  }

  .accordion_brand {
    
  }

  .reviews_brand {
    margin: 0 20px 0 0;
    display:block;
    text-align: right;
  }
  .close_brand{
    display:none;
    text-align:right;
    margin: 0 20px 0 0;
  }

  // resume //
  .reviews_resume {
    margin: 0 20px 0 0;
    display:block;
    text-align: right;
  }
  .accordion_resume {
    display:none;
  }

  div.accordion_resume {
    display:none;
    div p {
      margin-bottom: 20px;
      min-height: 48px;
      padding: 4px 8px;
    }
    h3{
      margin:0;
      font-size: 1.2em;
      font-weight: 200;
      padding: 4px 8px 20px 8px;
      &:hover{
        background-color: grey;
      }
    }
  }

  .close_resume{
    display:none;
    text-align: right;
     margin: 0 20px 0 0;
  }


  // portfolio //
  .accordion_portfolio {
    display:none;
  }
  .reviews_portfolio {
    margin: 0 20px 0 0;
    display:block;
    text-align: right;
  }

  div.accordion_portfolio {
    display:none;
    div p {
      margin-bottom: 20px;
      min-height: 48px;
      padding: 4px 8px;

    }
    h3{
      margin:0;
      font-size: 1.2em;
      font-weight: 200;
      padding: 4px 8px 20px 8px;
      &:hover{
        background-color: grey;
      }
    }
  }
  .close_portfolio{
    display:none;
    text-align: right;
     margin: 0 20px 0 0;
  }

  // jobtracker //

  div.accordion_jobtracker {
    display:none;
    div p {
      margin-bottom: 20px;
      min-height: 48px;
      padding: 4px 8px;

    }
    h3{
      margin:0;
      font-size: 1.2em;
      font-weight: 200;
      padding: 4px 8px 20px 8px;
      &:hover{
        background-color: grey;
      }
    }
  }
  .accordion_jobtracker {
    display:none;
  }

  .close_jobtracker{
    display:none;
    text-align:right;
     margin: 0 20px 0 0;
  }

  .reviews_jobtracker {
    margin: 0 20px 0 0;
    display:block;
    text-align: right;
  }

  // linkedin //
  .accordion_linkedin {
    display:none;
  }
  div.accordion_linkedin {
    display:none;
    div p {
      margin-bottom: 20px;
      min-height: 48px;
      padding: 4px 8px;

    }
    h3{
      margin:0;
      font-size: 1.2em;
      font-weight: 200;
      padding: 4px 8px 20px 8px;
      &:hover{
        background-color: grey;
      }
    }
  }
  .close_linkedin{
    display:none;
    text-align:right;
     margin: 0 20px 0 0;
  }

  .reviews_linkedin {
    margin: 0 20px 0 0;
    display:block;
    text-align: right;
  }

  // END ACCORDIAN STUFF //


  // STUDENT PROFILE EDIT FORM //
  form {
    width: 80%;
    margin: 0 auto 40px auto;
    display:flex;
    flex-direction: column;
    align-items: center;

    textarea{
      margin:0;
      padding: 10px;
    }

    .show_on_edit {
      display: none;
      border: 1px solid grey;
      border-radius: 4px;
    }

    a.hide_on_edit {
      &:hover{
        text-decoration:none;
      }

    }
    a.link-right {
      display:none;
      text-align:right;
      width: 94%;
      margin: 0;
    }

    .submit-button{
      display:none;
      align-self: flex-end;
      border-radius: 4px;
      margin: 10px 20px 10px 10px;
    }
  }
  // END STUDENT PROFILE EDIT FORM //



  // COMMENT FORMS //


  div.comment_form_brand{
    display:none;
    width: 100%;
    margin: 0 auto;
    align-item: center;
  }

  a.comment_brand {
    display:block;
    text-align: right;
    margin: 0 80px 0 0;

      &:hover{
        text-decoration:none;
      }
  }

  a.comment_resume {
    display:block;
    text-align: right;
    margin: 0 80px 0 0;
      &:hover{
        text-decoration:none;
      }
  }
  
  a.comment_portfolio {
    display:block;
    text-align: right;
    margin: 0 80px 0 0;
      &:hover{
        text-decoration:none;
      }
  }
  
  a.comment_linkedin {
    display:block;
    text-align: right;
    margin: 0 80px 0 0;
      &:hover{
        text-decoration:none;
      }
  }
  a.comment_jobtracker {
    display:block;
    text-align: right;
    margin: 0 80px 0 0;
      &:hover{
        text-decoration:none;
      }
  }

  .feild{
    height: 100px;
    width: 100%;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .send{
    align-self: flex-end;
    margin: 4px 0 0 auto;
    border-radius: 4px;
    display:inline-block;
  }

  .cancel{
      margin: 0px 0 auto 20px;
      position: relative;
      top: -20px;
  }
  .cancel_linkedin {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0 80px 0 0;
  }

  .cancel_brand {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0 80px 0 0;
  }

  .cancel_porfolio {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0 80px 0 0;
  }

  .cancel_resume {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0 80px 0 0;
  }

  .cancel_jobtracker {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0 80px 0 0;
  }
  
   .comment_form_resume{
    display:none;
  }

   .comment_form_portfolio{
    display:none;
  }

   .comment_form_linkedin{
    display:none;
  }

   .comment_form_jobtracker{
    display:none;
  }
}

// END .STUDENT-PROFILE //


// Admin Management Styles
// Deliverable Tab

.deliverable-header {
  display: inline-block

  h3 {
    margin-right: 30px;
  }
}
.new-d {
  margin-top: 10px;
}

.filter_form {
  font-size: 18px;
}

.cohort-form {
  margin-top: 20px;
  margin-right: 10px;
}